{% extends "base.html" %}

{% block page_name %}
    Список клиентов библиотеки
{% endblock page_name %}

{% block content %}
    <section class="sec-padding">
        <div class="container">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="sp-cart">
                        <tbody>
                        <tr>
                            <th style="width:15%;">Полное имя</th>
                            <th style="width:15%;">Дата рождения</th>
                            <th style="width:40%;">Книги</th>
                            <th style="width:10%;">Штраф</th>
                            <th style="width:10%;"></th>
                            <th style="width:10%;"></th>
                        </tr>

                        {% for client in clients %}
                            <tr>
                                <td class="pro-title"><a href="/client/{{ client.id }}/details/">
                                    <h6>{{ client.get_full_name }}</h6></a></td>

                                <td class="pro-title"><h6>{{ client.date_of_birth }}</h6></td>

                                <td class="pro-des">
                                    {% for book in client.current_books %}
                                        <a href="/book/{{ book.id }}/details">{{ book.get_full_name }}</a><br>
                                    {% endfor %}
                                </td>

                                <td class="pro-title"><h6>{{ client.fine }}</h6></td>

                                <td><a class="btn btn-green-dark btn-small"
                                       href="/client/{{ client.id }}/edit/">Изменить</a></td>

                                <td><a class="btn btn-red-dark btn-small"
                                       href="/client/{{ client.id }}/delete/">Удалить</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}